<!DOCTYPE html>
<meta charset="utf-8">
<html>
  <head>
    <!-- Load d3.js -->
    <script src="https://d3js.org/d3.v6.js"></script>

    <script>
      function showGraph() {
        text = {{data|tojson}}
        document.getElementById("text_result").innerHTML = text.result
      }
    </script>
</head>
  <body>
    <div class="testbox">
      <form action="/">
        <div class="banner">
          <h1>Reddit Sentiment Analysis</h1>
        </div>
        <div class="item">
          <p>Sub Reddit</p>
          <div class="name-item">
            <input type="text" name="subreddit" placeholder="Sub Reddit" />
          </div>
        </div>
        <div class="item">
          <p>Start Date</p>
          <input type="date" name="startdate" required/>
          <i class="fas fa-calendar-alt"></i>
        </div>
        <div class="item">
          <p> End Date Date</p>
          <input type="date" name="enddate" required/>
          <i class="fas fa-calendar-alt"></i>
        </div>
        <div class="btn-block">
          <button type="submit" onclick="showGraph()">Submit</button>
        </div>
        <div>
          <p id="text_result">Please enter a request</p>
          <button onclick="showGraph()">update</button>
        </div>
        <div id = "my_dataviz"></div>
      </form>
    </div>
    <script src = "{{ url_for('static', filename='js/index.js') }}"></script>
  </body>
</html>